body{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f0f0f0;

    font-family: Arial;
}

.container{
    text-align: center;
}

.container img{
    width: 250px;   /* حجم الصورة */
    border-radius: 15px;
}

.text{
    margin-bottom: 15px;

    font-size: 40px;
    font-weight: bold;

    color: black;

    text-shadow: 2px 2px 5px gray;
}